
// COLORS ===========================================
@import 'colors';


.forgotpwdForgotStep{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.forgotpwdStepsBox{
    .pwdSentBox{
        button{
            padding: 10px 25px;
            text-transform: uppercase;
            font-weight: 400;
            border-radius: 5px;
            transition: 1ms;
            &:hover{
                transition: 1ms;
                background: $lightBlue;
                color: $white;
            }
        }
    }
}

// =================================================
.otpSection{
    .otpImgBox{
        img{
            height: 180px;
            width: 100%;
            background: #2196F3;
            padding: 9px 0;
            margin: 40px 0 0 0;
            border-radius: 20px;
        }
    }
    .otpBox{
        label{
            font-size: 30px;
        }
        button{
            padding: 10px 25px;
            margin-top: 20px;
            text-transform: uppercase;
            font-weight: 400;
            border-radius: 5px;
            transition: 1ms;
            &:hover{
                transition: 1ms;
                background: $lightBlue;
                color: $white;
            }
        }
    }
}

// =================================================
.forgotpwdChangeStep{
    .forgotpwdChangeStepInnerBox{
        .form-group{
            position: relative;
            input{
                position: relative;
            }
            img{
                position: absolute;
                height: 20px;
                top: 34px;
                right: 10px;
            }
        }
        .pwdChangebtn{
            button{
                padding: 10px 25px;
                text-transform: uppercase;
                font-weight: 400;
                border-radius: 5px;
                transition: 1ms;
                &:hover{
                    transition: 1ms;
                    background: $lightBlue;
                    color: $white;
                }
            }
        }
    }
}


// RESPONSIVE ===========================================================================
$breakpoint-large: 992px;
$breakpoint-extra-small: 420px;

@media screen and (max-width: $breakpoint-large){
    .formImgBox{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .otpCol{
        max-width: unset !important;
        width: 100%;
        flex: unset !important;
    }
}