
// COLORS ===========================================
@import 'colors';


.loginFormSection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.loginFormBox{
    .formRememberBox{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .form-check{
            label{
                font-weight: 600;
            color: $greyTextColor;

            }
        }
        a{
            color: $greyTextColor;
        }
    }
    .signInBtnBox{
        button{
            padding: 10px 25px;
            text-transform: uppercase;
            font-weight: 400;
            border-radius: 5px;
            transition: 1ms;
            &:hover{
                transition: 1ms;
                background: $lightBlue;
                color: $white;
            }
        }
        span{
            margin-top: 10px;
            font-weight: 500;
            color: $greyTextColor;
            a{
                margin-left: 5px;
                color: $greyTextColor;
                text-decoration: underline !important;
            }
        }
    }
}


// RESPONSIVE ===========================================================================
$breakpoint-large: 992px;
$breakpoint-extra-small: 420px;

@media screen and (max-width: $breakpoint-large){
    .formImgBox{
        display: none;
    }
}

@media screen and (max-width: $breakpoint-extra-small){
    .loginFormBox{
        .formRememberBox {
            align-items: self-start;
            justify-content: start;
            flex-direction: column;
            a{
                margin-top: 10px;
            }
        }
    }
}